#path22{
text-transform:capitalize;
white-space:pre;
stroke-width:17px;
filter:url("#drop-shadow-filter-0");
stroke-miterlimit:8;
} 
.logo-container{
    width: 100%;
    height: 100%;
   .box{
    width: 50px;
    height: 50px;
    
   }
}
@for $i from 1 to 60{

}