.project-container{
    position: absolute;
    margin: 0 auto;
    width: clamp(50vw,80vw,100vw);
    top:10%;
    height: 100vh;
    h1{
        font-size: 3rem;
        text-align: center;
        transform: translateX(20%)
    }
    .p{
        position: absolute;
       font-size: 2em;
       font-weight: lighter;
       left: 30%;
       width: clamp(20vw, 70vw, 100vw);
       color: #ffffffb5;
    }
    .slide-container{
        position: relative;
       width: 100%;
       height: 30%;
       left: 50%;
      
       .slide{
        position: absolute;
        width: 30%;
        height: 100%;
        top:0;
        margin: 10% auto;
        animation: fadeInLeft 0.5s ease-in-out;
        transition: all 1s linear;
        backface-visibility: hidden;
      //  &:hover .info{
      //      transform: translateY(100%);
      //  }
       img{
        filter: blur(4px)
       }
       .info{
       position: absolute;
        width :100%;
        height: 70%;
        bottom: 0;
        display:block;
        background-color: rgba(4, 41, 66, 0.6);
        color:white;
        z-index: -1;
        opacity: 1;
        transition: all 0.5s ease-out;
           h3{
              text-align: center;
              font-size: 1em;
              margin-bottom:0;
           }
           p{
            margin-top:0;
            margin-left: 1%;
            font-size: 0.8em;
           }
        button{
            position: absolute;
            
            left:5%;
            padding:2%;
            border: 1px solid white;
            &:hover { background-color: #044381}
            transition: all 0.2s ease;
           }
           a{
            bottom: 2%;
            padding: 2%;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
           }
       }
       }
       .slide._1{
        
        transform: translateX(-100%);
        .info{
           opacity: 0;
        }
       }
       .slide._2{
         transform:scale(1.5);
         perspective: 1000px;
         z-index: 2;
         img{
            filter:blur();
         }
         .info{
            opacity: 1;
           transform: translateY(100%);
       }
    }       .slide._3{
       
       transform: translateX(100%);
       .info{
        opacity: 0;
     }
       }
    }
}
@for $i from 1 through 3{
    .slide._#{$i}{
        animation-delay: #{calc($i/2)}s;
    }
}
.text-animate-hover{
    color:azure
}
@media only screen and (max-width: 540px) {
   .project-container{
    h1{
        font-size: 2em;
    }
   .p{
        left: 20%;
        width: 70%;
        word-wrap: break-word;
        font-size: 0.7em;
    }
    .slide-container{
        top: 10%;
        .slide{
           height: 60%;
            .info{
                font-size: 0.7em;
                height: 90%;
                
                h3{
                    
                    margin-bottom: 5px;
            
                }
                 a{
                    margin-left: 10%;
                }
            }
        }
    }
   }
}
@media only screen and (min-width: 1200px) {
    .project-container{
        .p{
            font-size: 20px;
        }
     .slide-container{
        width: 80%;
         .slide{
             height: 80%;
             
             .info{
                 font-size: 1em;
                 
             }
         }
     }
    }
 }