html, body {
  position: relative;
  margin: 0;
  border: 0;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}
body {
  color: #827a92;
  background-color: #000040;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
@media only screen and (max-height: 800px) {
  body{
    overflow: auto;
  }
}

